@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family:  'Montserrat', 'sans-serif';
    background-color: black;
    color:aliceblue;
    text-align: center;
}
.header{
    background-color: #2436bf;
      color: white;
      border-bottom-left-radius: 0.5rem;
  }
label,input{
    margin-top: 12rem;
    text-align: center;
    align-items: center;
}
button{
    margin-top: 1rem;
    padding: 0.25rem 2rem;
    align-items: center ;
}
.footer{
    background-color:  #2436bf;
    border-top-right-radius: 1rem;
    height: 20vh;
    padding: 1rem;
    color: white;
    margin: auto;
    display: block;
    text-align: center;
}
.list{
    list-style: none;
}
.inline-list{
    display: inline;
    padding: 0rem 0.5rem;
}
.link-list{
    text-decoration: none;
    color: white;
    cursor: pointer;
}